* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, .container {
    min-height: 100vh;
    background-color: rgb(3, 3, 3);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}
header {
    flex: 1;
    border: 1px solid rgb(83, 240, 83);
    border-radius: 1em;
}
section {
    flex: 4;
    display: flex;
    gap: 1em;
}
.box-1 {
    flex: 2;
    border: 1px solid rgb(83, 240, 83);
    border-radius: 1em;
}
.box-2 {
    flex: 1;
    border: 1px solid rgb(83, 240, 83);
    border-radius: 1em;
}
.container.second section {
    flex-direction: row-reverse;
}
footer {
    flex: .2;
    border: 1px solid rgb(83, 240, 83);
    border-radius: 1em;
    text-align: center;
    padding-top: 1em;
    max-height: 10em;
}   
#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    font-size:2em;
}

@media (max-width: 968px) {
    section, .container.second section {
        flex-direction: column;
    }
    .container {
        margin: 1em 2em;
    }
}


